body {
  text-align: center;
  font-family: serif;
}

h2 {
  color: black
}

h3 {
  color: orange;
}

p {
  font-family: arial;
  font-size: 15px;
}

a:hover {
  color: red;
  background-color:  yellow;
  font-size: 20px;
}
a:visited {
  color: purple;
}

label {
  font-family: sans-serif;
}

@media (max-width: 750px) {
  iframe {
  max-width: 100%;
  height: 165px;
  }
}
@media (min-width: 768px) {
  iframe {
  max-width: 100%;
  height: 250px;
  }
}
@media (min-width: 992px) {
  iframe {
  max-width: 100%;
  height: 335px;
  }
}
@media (min-width: 1040px) {
  iframe {
  max-width: 100%;
  height: 360px;
  }
}
.form-control{
    border: 4px solid #8842d5;
    border-radius: 5px;
}
.picture {
    height: %10;
    width: 200px;
}
.button {
  width: 60px;
  height: 60px;
  color: white;
  background-color: red;
}
.button:hover {
  background-color: green;
  width: 60px;
  height: 60px;
}
